@model IEnumerable<ConeBrewing.Data.Models.Beer>


@{
    int counter = 0;
    foreach (var item in Model)
    {
        if(counter % 2 == 0)
        {
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/300x200" alt="">
                </div>
                <div class="span8">
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                    <p>@Html.ActionLink("View Details »", "Details", new { id = item.Id }, new { @class = "btn" })</p>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="span8">
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                    <p>@Html.ActionLink("View Details »", "Details", new { id = item.Id}, new { @class = "btn" })</p>
                </div>
                <div class="span4">
                    <img src="http://placehold.it/300x200" alt="">
                </div>
            </div>
        }

        counter++;
    }        
}
    
